appdirs==1.4.0
appnope==0.1.0
beautifulsoup4==4.5.3
decorator==4.0.11
future==0.16.0
ipdb==0.10.1
ipython==5.1.0
ipython-genutils==0.1.0
packaging==16.8
pexpect==4.2.1
phonenumbers==8.0.1
pickleshare==0.7.4
probableparsing==0.0.1
prompt-toolkit==1.0.9
ptyprocess==0.5.1
Pygments==2.2.0
pyparsing==2.1.10
python-crfsuite==0.9.1
requests==2.13.0
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.1
usaddress==0.5.9
wcwidth==0.1.7
